

<div class="menu-selection">
  <div class="menu-page">
  <div class="main-menu">
    <%= link_to  menu_boxlunches_path(1) do %><%= image_tag "main-menu.png", alt:"singlemenu-menu", width:"50px" %><% end %>
  </div>

  <div class="single-menu">
    <%= link_to single_menus_path do %><%= image_tag "single-menu.png", alt:"singlemenu-menu", width:"50px" %><% end %>
  </div>

  <div class="drink-menu">
    <%= link_to drink_menus_path do %><%= image_tag "drink-menu.png", alt:"drink-menu", width:"50px" %><% end %>
  </div>

  <div class="reservation-menu">
    <%= link_to reservations_path do %><%= image_tag "reservation-menu.png", alt:"reservation-menu", width:"70px" %><% end %>
  </div>
  </div>

  <div class="text-box">
    <p>Box Lunch<br>>弁当</p>
    <p>Single Menu <br>単品</p>
    <p>Drink <br>ドリンク</p>
    <p>Reservation<br>予約限定メニュー</p>
  </div>

  <div class="image-box">
    <div class="main-image">
      <%= link_to  menu_boxlunches_path(1) do %><%= image_tag "main-menu.png", alt:"singlemenu-menu", width:"30px" %><% end %>
    </div>

    <div class="single-box">
      <%= link_to single_menus_path do %><%= image_tag "single-menu.png", alt:"singlemenu-menu", width:"30px" %><% end %>
    </div>

    <div class="drink-box">
      <%= link_to drink_menus_path do %><%= image_tag "drink-menu.png", alt:"drink-menu", width:"30px" %><% end %>
    </div>

    <div class="reservation-box">
      <%= link_to reservations_path do %><%= image_tag "reservation-menu.png", alt:"reservation-menu", width:"40px", height:"20px" %><% end %>
    </div>
  </div>
  </div>
