.menu-selection
  .menu-page
    = link_to new_boxlunch_path do
      .main-menu
        = image_tag asset_path("main-menu.png"), alt:"main-menu", width:"50px"
        .text-box
          %p Box Lunch<br>>お弁当
    .single-menu
      = link_to new_single_menu_path do
        = image_tag asset_path("single-menu.png"), alt:"single-menu", width:"50px"
        .text-box
          %p Single Menu<br>>お弁当単品
    .drink-menu
      = link_to new_drink_menu_path do
        = image_tag asset_path("drink-menu.png"), alt:"drink-menu", width:"50px"
        .text-box
          %p Drink<br>>飲み物
    .reservation-menu
      = link_to new_reservation_path do
        = image_tag asset_path("reservation-menu.png"), alt:"reservation-menu", width:"70px"
        .text-box
          %p Reservation<br>>予約限定
  .image-box
    .main-image
      = link_to  new_boxlunch_path do
        = image_tag asset_path("main-menu.png"), alt:"singlemenu-menu", width:"30px"
    .single-box
      = link_to new_single_menu_path do
        = image_tag asset_path("single-menu.png"), alt:"singlemenu-menu", width:"30px"
    .drink-box
      = link_to new_drink_menu_path do
        = image_tag asset_path("drink-menu.png"), alt:"drink-menu", width:"30px"
    .reservation-box
      = link_to new_reservation_path do
        = image_tag asset_path("reservation-menu.png"), alt:"reservation-menu", width:"40px", height:"20px"
