.menu-contents
  - @menus.each do |menu|
    = form_for @cart, url: menu_carts_path(menu), method: :post do |f|
      .menu-package
        .menu-image
          = link_to menu_path(menu) do
            = image_tag menu.image ,width:"200px", height:"150px"
          %h4= link_to "#{menu.name}", menu_path(menu)
          .count-price-container
            .count-price-container
              .count-price
                .price
                  %p ¥#{menu.price}(税込)
                .count
                  =f.select :quantity, options_for_select(1..10), include_blank: '0'
              =f.submit "カートの中に入れる"
