= render 'layouts/header'
= render "template/menu_selections"
.menu-container
  %h2 Drink Menu
  .menu-contents
    - @drinks.each do |drink|
      %form{:action => "", :method => "post"}
        .menu-package
          .menu-image
            = link_to "drink_menu/#{drink.id}" do
              = image_tag drink.image, width:"200px", height:"150px"
            %h4
              = link_to do
                = drink.name
            .count-price-container
              .count-price
                .price
                  %p
                    ¥#{drink.price}
                    %span (税込)
                .count
                  %label
                    %select{:name => ""}
                      - for count in 0..10 do
                        %option{:value => "\#{count}"}= count
              %input{:type => "submit", :value => "カートの中に入れる"}/
= render 'layouts/footer'
