<%= render 'layouts/header' %>
<div class="access-container">
  <div class="access-content">
    <h2>ACCESS</h2>
  </div>

<div class="access-map-container">
   <div class="map-image">
      <%= image_tag "map.jpg", alt: "map", width: "500px", height: "300px" %>
   </div>

<div class="access-text">
    <p>〒593-8302</p>
    <p>大阪府堺市西区北条町1丁28-6</p>
    <p>TEL : 080-4399-0510</p>
    <%= link_to  do %><p class="google-map">Google Map<%= image_tag "map.icon.png", alt: "map-icon", width: "40px", height: "45px" %></p><% end %>
  </div>
 </div>
</div>

<div class="home-btn">
  <%= link_to menu_boxlunches_path(1) do %><button type="button" name="home-btn" value="値">メニューに戻る</button><% end %>
</div>
<%= render 'layouts/footer' %>