= render 'layouts/header'
= render "template/menu_selections"
.menu-container
  %h2 Reservation
  .menu-contents
    - @reservations.each do |reservation|
      = form_for @cart, url: menu_carts_path(reservation), method: :post do |f|
        .menu-package
          .menu-image
            = link_to menu_path(reservation) do
              = image_tag reservation.image, width:"200px", height:"150px"
            %h4
              = link_to "#{reservation.name}", menu_path(reservation);
            .count-price-container
              .count-price
                .price
                  %p
                    ¥#{reservation.price}
                    %span (税込)
                .count
                  =f.select :quantity, options_for_select(1..10), include_blank: '0'
              =f.submit "カートの中に入れる"
= render 'layouts/footer'
