.mypage
  .mypage__main
    .mypage-sidebar
      .mypage-sidebar__container
        = link_to do
          #sidebar-active.mypage-sidebar__container__title
            %h3.weight マイページ
            %i.fa.fa-chevron-right{"aria-hidden" => "true"}
        = link_to  do
          .mypage-sidebar__container__title
            %h3 お知らせ
            %i.fa.fa-chevron-right{"aria-hidden" => "true"}
        = link_to  do
          .mypage-sidebar__container__title
            %h3 購入した商品・出品中
            %i.fa.fa-chevron-right{"aria-hidden" => "true"}
        = link_to  do
          .mypage-sidebar__container__title
            %h3 購入した商品・取引中
            %i.fa.fa-chevron-right{"aria-hidden" => "true"}
        = link_to  do
          .mypage-sidebar__container__title
            %h3 購入した商品・過去の取引
            %i.fa.fa-chevron-right{"aria-hidden" => "true"}
        .sidebar-config
          %p 設定
          = link_to  do
            .mypage-sidebar__container__title
              %h3 プロフィール
              %i.fa.fa-chevron-right{"aria-hidden" => "true"}
          = link_to  do
            .mypage-sidebar__container__title
              %h3 発送元・お届け先住所変更
              %i.fa.fa-chevron-right{"aria-hidden" => "true"}
          = link_to  do
            .mypage-sidebar__container__title
              %h3 メール/パスワード
              %i.fa.fa-chevron-right{"aria-hidden" => "true"}
          = link_to do
            .mypage-sidebar__container__title
              %h3 本人情報
              %i.fa.fa-chevron-right{"aria-hidden" => "true"}
          = link_to  do
            .mypage-sidebar__container__title
              %h3 電話番号の確認
              %i.fa.fa-chevron-right{"aria-hidden" => "true"}
          = link_to logout_mypage_path(current_user)  do
            .mypage-sidebar__container__title
              %h3 ログアウト
              %i.fa.fa-chevron-right{"aria-hidden" => "true"}
