= render 'layouts/header'
= render "./template/menu_selections"
.menu-container
  %h2 Boxlunch Menu
  .menu-contents
    - @boxlunches.each do |boxlunch|
      %form{:action => "", :method => "post"}
        .menu-package
          .menu-image
            = link_to "boxlunch/#{boxlunch.id}" do
              = image_tag boxlunch.image, width:"200px", height:"150px"
            %h4
              = link_to do
                = boxlunch.name
            .count-price-container
              .count-price
                .price
                  %p
                    ¥#{boxlunch.price}
                    %span (税込)
                .count
                  %label
                    %select{:name => ""}
                      - for count in 0..10 do
                        %option{:value => "\#{count}"}= count
              %input{:type => "submit", :value => "カートの中に入れる"}/
= render 'layouts/footer'
