= render 'layouts/header'
= render "./template/menu_selections"
.menu-container
  %h2#boxlunch-heading Boxlunch Menu
  .menu-contents
    - @boxlunches.each do |boxlunch|
      = form_for @cart, url: menu_carts_path(boxlunch), method: :post do |f|
        .menu-package
          .menu-image
            = link_to menu_path(boxlunch) do
              = image_tag boxlunch.image, width:"200px", height:"150px"
            %h4
              = link_to "#{boxlunch.name}", menu_path(boxlunch) 
            .count-price-container
              .count-price
                .price
                  %p ¥#{boxlunch.price}(税込)
                .count
                  =f.select :quantity, options_for_select(1..10), include_blank: '0'
              =f.submit "カートの中に入れる"
= render 'layouts/footer'