%footer
  .sns-container
    %ul
      %li
        = link_to do
          = image_tag "facebook.jpeg", alt: "facebook", width: "40px"
      %li
        = link_to do
          = image_tag "twitter.jpeg", alt: "twitter", width: "40px"
      %li
        = link_to do
          = image_tag "Instagram.jpeg", alt: "instagram", width: "40px"
  %section
    .customer
      %ul
        %li
          = link_to do
            ▷ご意見・ご要望
        %li
          = link_to do
            ▷お客様の声
        %li
          = link_to do
            ▷特定商取引に基づく表記
        %li
          = link_to do
            ▷個人情報の取扱について
  %p copyright KARAAGENOMAKO All Rigth Reserverd.
