<footer>
  <div class="sns-container">
    <ul>
      <li><%= link_to do%><%= image_tag "facebook.png", alt: "facebook", width: "40px" %><% end %></li>
      <li><%= link_to do%><%= image_tag "twitter.png", alt: "twitter", width: "40px" %><% end %></li>
      <li><%= link_to do%><%= image_tag "Instagram.png", alt: "instagram", width: "40px" %><% end %></li>
    </ul>
  </div>
  <section>
    <div class="customer">
      <ul>
        <li><%= link_to do%>▷ご意見・ご要望<% end %></li>
        <li><%= link_to do%>▷お客様の声<% end %></li>
        <li><%= link_to do%>▷特定商取引に基づく表記<% end %></li>
        <li><%= link_to do%>▷個人情報の取扱について<% end %></li>
      </ul>
    </div>
  </section>
  <p>copyright KARAAGENOMAKO All Rigth Reserverd.</p>
</footer>
