<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="唐揚げのマコは、新鮮な国産地鶏を使用した弁当屋さんです。メイン料理は、唐揚げで他にも様々な揚げ物も振舞っていますのでぜひ一度お召し上がりください。堺市での配達をしていますので、詳細は、当社のWEBサイトをご覧ください。">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="JuILCHP0jmIZwxGSR_LDEeV02aLIQ0U57gl8GKadVu0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta property="og:title" content="唐揚げのマコ" />
    <meta property="og:site_name" content="唐揚げのマコ" />
    <meta property="og:description" content="唐揚げのマコは、新鮮な国産地鶏を使用した弁当屋さんです。メイン料理は、唐揚げで他にも様々な揚げ物も振舞っていますのでぜひ一度お召し上がりください。堺市での配達をしていますので、詳細は、当社のWEBサイトをご覧ください。" />
    <meta property="og:type" content="website">
    <meta property="og:locale" content="ja_JP" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>唐揚げのマコ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  
  <body>
    <%= yield %>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
